/* 
    || - Jump to Variables and Breakpoint Widths
    |> - Jump to Individual Section Styles
*/



/* || Global Variables */

:root {
    /* Primary Colors*/
    --softRed: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    --darkCyanText: hsl(167, 40%, 24%);
    --darkBlueText: hsl(198, 62%, 26%);
    --darkCyanFooter: hsl(168, 34%, 61%);
    /* Neutral Colors*/
    --veryDarkBlue: hsl(212, 27%, 19%);
    --veryDarkGrayBlue: hsl(213, 9%, 39%);
    --darkGrayBlue: hsl(232, 10%, 55%);
    --grayBlue: hsl(210, 4%, 67%);
    --white: hsl(0, 0%, 100%);
    /* Google Fonts */
    --barlow: 'Barlow', sans-serif; /* 400, 600 weight */
    --fraunces: 'Fraunces', serif; /* 700, 900 weight */
}



/* || Typography */

body {
    font-size: 18px;
}



/* || <576px Display  */


/* |> Hero */

#hero {
    background: url(./images/mobile/image-header.jpg) no-repeat center;
    background-size: cover;
    min-height: 70vh;
    font-family: var(--fraunces);
}

#hero nav button span.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

#hero h1 {
    text-transform: uppercase;
    color: white;
    font-size: 40px;
    letter-spacing: .5rem;
    text-align: center;
}


/* |>Mobile Menu */

#hero #menu .navbar-nav{
    background-color: var(--white);
    position: absolute;
    width: 90%;
    left: 5%;
    margin-top: 2rem;
    text-align: center;
}

#mobile-menu-flair {
    position: absolute;
    top: 100%;
    right: 5%;
    border-right: 25px solid var(--white);
    border-bottom: 25px solid transparent;
    border-top: 25px solid transparent;
}

#hero #menu .nav-link {
    font-family: var(--barlow);
    font-size: 20px;
    padding: 1rem;
    font-weight: 600;
    color: var(--grayBlue);
}

#hero #menu .nav-item:last-child .nav-link {
    background-color: var(--yellow);
    font-family: var(--fraunces);
    font-size: 18px;
    text-transform: uppercase;
    color: var(--darkBlueText);
    width: 150px;
    border-radius: 30px;
    margin: 1.5rem auto;
}



/* |> Learn */

.learn{
    margin-bottom: 3rem;
}

.learn h2 {
    margin-top: 3rem;
    font-family: var(--fraunces);
    font-size: 32px;
    color: var(--veryDarkBlue);
}

.learn p {
    font-family: var(--barlow);
    line-height: 2rem;
    color: var(--grayBlue);
    margin: 2rem 0;
}

.learn .learn-more {
    text-decoration: none;
    font-family: var(--fraunces);
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--veryDarkBlue);
}

.learn .learn-hr {
    height: 10px;
    width: 140px;
    border-radius: 20px;
    margin: -8px auto 0 auto;
}

.learn .yellow-learn {
    background-color: var(--yellow);
}

.learn .red-learn {
    background-color: var(--softRed);
}

.learn .image-learn{
    max-width: 100%;
}

/* |> Non-link Blocks */

#graphic{
    background-image: url(./images/mobile/image-graphic-design.jpg);
    color: var(--darkCyanText);
}

#photo {
    background-image: url(./images/mobile/image-photography.jpg);
    color: var(--darkBlueText);
}

#design .design-photo {
    max-width: 100%;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    min-height: 70vh;
    padding-bottom: 3rem;
}

#design .design-photo h2 {
    margin-top: 100%;
    margin-bottom: 1rem;
    text-align: center;
    font-family: var(--fraunces);
    font-weight: 900;
    font-size: 28px;
}

#design .design-photo p {
    text-align: center;
    font-family: var(--barlow);
    opacity: 90%;
}


/* |> Client Testimonials */

#client-feedback h2{
    margin: 3.5rem 0;
    text-transform: uppercase;
    font-family: var(--fraunces);
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 3px;
    color: var(--grayBlue);
}

#client-feedback .feedback {
    margin-bottom: 4rem;
}

#client-feedback .client-photo {
    border-radius: 50%;
    max-width: 80px;
    margin-bottom: 2rem;
}

#client-feedback .client-text {
    font-family: var(--barlow);
    font-weight: 400;
    color: var(--darkGrayBlue);
}

#client-feedback .client-name {
    font-family: var(--fraunces);
    font-weight: 900;
    color: var(--veryDarkBlue);
}

#client-feedback .client-role {
    font-family: var(--barlow);
    font-size: 14px;
    color: var(--grayBlue);
}

/* |> Footer Gallery */

#footer-gallery .row div{
    padding: 0;
}

#footer-gallery img {
    max-width: 100%;
}

/*  |> Footer Navigation */

footer {
    background-color: var(--darkCyanFooter);
}

footer #footer-logo {
    height: 32px;
    margin: 4rem 0 2.5rem 0;
}

#footer-nav {
    min-height: 20vh;
}

#footer-nav a {
    color: var(--darkCyanText);
}

#footer-nav #social-nav {
    margin-top: 3rem;
}

/* |> Attribution */

.attribution {
    font-size: 11px; text-align: center; 
}

.attribution a {
    color: hsl(228, 45%, 44%); 
}



/* || >= 576px Display  */

@media (min-width: 576px) {
    
    #hero {
        background: url(./images/desktop/image-header.jpg) no-repeat center;
        background-size: cover;
    }

}

/* || >= 768px Display  */

@media (min-width: 768px) {


    #hero h1 {
        margin-top: 5rem;
    }


    /* |> Learn */

    .learn{
        margin-bottom: 0;
    }
    
    .learn h2 {
        font-size: 28px;
    }
    
    .learn p {
        font-size: 16px;
        line-height: 1.5rem;
    }

    .learn .learn-hr {
        margin: -8px 0 0 -2px;
    }

    .learn .learn-hr.red-learn {
        margin: -8px -2px 0 auto;
    }

    /*  |> Non-link Blocks */

    #design .design-photo {
        min-height: unset;
    }

}

/* || >= 992px Display  */

@media (min-width: 992px) {

    #hero {
        min-height: 90vh;
    }

    /* |>Navigation Menu */
    #mobile-menu-flair {
        display: none;
    }

    #hero #menu .navbar-nav{
        background-color: transparent;
        margin-top: 0;
        justify-content: end;
        align-items: center;
    }

    #hero #menu .nav-link {
        color: var(--white);
        padding: .5rem;
        margin-right: 2vw;  
    }

    #hero #menu .nav-item:last-child .nav-link {
        background-color: var(--white);
        padding: 15px 6px;
        margin: 0;
    }

    #hero h1 {
        margin-top: 15vh;
        font-size: 50px;
    }


    /* |> Learn */

    .learn h2 {
        font-size: 40px;
        margin: 2rem;
    }
    .learn {
        margin-bottom: 0;
    }
    
    .learn p {
        font-size: 18px;
        line-height: 2rem;
        margin: 0 2rem 2rem 2rem;
    }

    .learn .learn-more {
        margin: 0 2rem 2rem 2rem;
    }

    .learn .learn-hr {
        margin: -8px 0 0 28px;
    }

    .learn .learn-hr.red-learn {
        margin: -8px 28px 0 auto;
    }

    /*  |> Footer Navigation */


    #footer-nav #social-nav img {
        width: 2.5vw;
    }

}

/* || >= 1200px Display  */

@media (min-width: 1200px) {
  

}

/* || >= 1440px Display  */

@media (min-width: 1440px) {

    /* |> Learn */

    .learn h2, .learn p, .learn .learn-more {
        padding: 2rem;
    }

    .learn .learn-hr.yellow-learn {
        margin: -8px 0 0 60px;
        background-color: var(--yellow);
    }

    .learn .learn-hr.red-learn {
        margin: -8px 60px 0 auto;
        background-color: var(--softRed);
    }

    .learn .image-learn{
        min-width: 100%;
    }

    /* |> Footer Gallery */

    #footer-gallery img {
        min-width: 100%;
    }

}